<table width="100%" border="0" cellspacing="2" cellpadding="0"><tr><td width="300px" valign="top">
<%= image_tag 'temp_left.png' %>
</td><td valign="top">
<%= widgets_for 'Main_Guest',:react=>false %>
</td></tr></table>